@charset "UTF-8";
html,
body {
    height: 100vh;
    margin: 0;
    padding: 0;
    background: #FBFBFF;
}

.game-container {
    display: flex;
    flex-direction: column;
    position: relative;
    height: 310px;
    width: 360px;
    border-radius: 6px;
    margin-top: 100px;
}

.grid-container {
    display: flex;
    gap: 10px;
    flex-direction: column;
    position: absolute;
}

#grid-fill {
    z-index: 2;
}

.token-container {
    display: flex;
    position: absolute;
    margin-top: 10px;
    margin-left: 10px;
    z-index: 1;
}

.token-container .column {
    display: flex;
    flex-direction: column;
    width: 50px;
}

.token-container .column .regular:nth-child(1) {
    transform: translate(0px, calc(50px * 5));
}

.token-container .column .regular:nth-child(2) {
    transform: translate(0px, calc(50px * 4));
}

.token-container .column .regular:nth-child(3) {
    transform: translate(0px, calc(50px * 3));
}

.token-container .column .regular:nth-child(4) {
    transform: translate(0px, calc(50px * 2));
}

.token-container .column .regular:nth-child(5) {
    transform: translate(0px, calc(50px * 1));
}

.token-container .column .regular:nth-child(6) {
    transform: translate(0px, 0px);
}


.token.column-choice {
    transform: translate(0, -70px);
}

.token {
    width: 40px;
    height: 40px;
}

.token {
    position: absolute;
    -webkit-transition: 100ms ease-in-out;
    -moz-transition: 100ms ease-in-out;
    transition: 100ms ease-in-out;
    -webkit-transition-property: -webkit-transform;
    -moz-transition-property: -moz-transform;
    transition-property: transform;
    border-radius: 50%;
}

.token.token-red {
    background: #B80C09;
}

.token.token-yellow {
    background: #E3C920;
}
